

{% extends 'mascotasblog/inicio.html' %}  
    {% load static %}

{% block contenidoquecambia %}

<h5>Lista de Dueños</h5>
</br>
<ul>
    {% for Duenio in object_list %}

    <li>        
                <p><strong>NOMBRE: {{ Duenio.nombre }} </strong></p>
                <p><strong>APELLIDO: {{ Duenio.apellido }} </strong></p>
                <p><strong>EDAD: {{ Duenio.edad }} </strong></p>
                
                <p> 
                    <a href="{% url 'detalleDuenio' Duenio.id %}">Ver</a> | 
                    <a href="{% url 'modificarDuenio' Duenio.id %}">Editar</a> | 
                    <a href="{% url 'eliminarDuenio' Duenio.id %}">Borrar</a>                
                </p> 

        {% endfor %}
    </li>
        
</ul>
<a href="{% url 'crearDuenio' %}"> || Nuevo Dueño ||</a>  

{% endblock contenidoquecambia %}
            
        <!-- FIN CONTENIDO DINAMICO DE PAGINA-->