{% extends 'mascotasblog/inicio.html' %}  
    {% load static %}

{% block contenidoquecambia %}

    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic"><strong>"Como ella no hay ninguna, y esta pagina no podria existir sin su existencia, la reina Regina, nos ha enseñado desde el amor que las mascotas son lo mas hermoso del universo y hay que cuidarlas y admirarlas como tales."</strong></div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded-circle me-3" src="https://i.pinimg.com/474x/a3/42/25/a34225cfdd988b5095dec9483777b758.jpg" alt="..." />
                            <div class="fw-bold">
                                Regina Phalange
                                <span class="fw-bold text-primary mx-1">/</span>
                                Amante número uno por exelencia e inspiradora idola del amor a las mascotas
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://img.ecartelera.com/noticias/55100/55122-m.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Hermoso, cuidado y educado</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Corgi Gales</h5></a>
                            <p class="card-text mb-0">Conocido por su buen adiestramiento y simpatia, Cheedar es uno de nuestros paticortis favoritos y adoramos poder incluirlo en nuestra pagina </p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://styles.redditmedia.com/t5_2sfq6t/styles/communityIcon_my85t97eil651.png" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">Raymond Jacob Holt</div>
                                        <div class="text-muted">Dueño de Cheddar </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://i.pinimg.com/originals/8c/b5/f8/8cb5f8d3fec18395ce547bb483d3a635.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">MENCION ESPECIAL</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">!Es una Alpaca!</h5></a>
                            <p class="card-text mb-0">A pesar de su corto tiempo como mascota de la familia Dunphy, se la quiso y cuido como a un miembro mas de la misma. 
                                Tiene una mencion especial, ya que no es una mascota comun y corriente, sale de la norma y eso ¡Nos encanta!
                            Te queremos Alpaca </p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://sticker.nyc3.cdn.digitaloceanspaces.com/20210748/file_6048023_128x128.webp" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">Phil Dunphy</div>
                                        <div class="text-muted">Perseverante dueño de alpaca</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://m.media-amazon.com/images/I/71S6VhQdqaL._CR0,170,683,683_UX256.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">QEPD</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Labrador</h5></a>
                            <p class="card-text mb-0">Si de mascotas hermosas y cuidadas hablamos, no podemos dejar de lado a nuestro querido Marley, que siempre estara en nuestros corazones</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://cachedimages.podchaser.com/256x256/aHR0cHM6Ly9jcmVhdG9yLWltYWdlcy5wb2RjaGFzZXIuY29tLzgyYzY0YmQ2ZDViOGNkY2RmZjBiOGUwZDE3N2UxMjc3LnBuZw%3D%3D/aHR0cHM6Ly93d3cucG9kY2hhc2VyLmNvbS9pbWFnZXMvbWlzc2luZy1pbWFnZS5wbmc%3D" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">John Grogan</div>
                                        <div class="text-muted">Dueño y criador de Marley</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Actualizacion constante de fotitos de perritos tiernos</div>
                        <div class="text-white-50">¡Registarate para recibir notificaciones sobre las nuevas fotos en la pagina!</div>
                    </div>
                    <div class="">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Ingrese Su Correo Aqui" aria-label="Correo Electronico..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Registrar</button>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

{% endblock contenidoquecambia %}    