{% extends 'mascotasblog/inicio.html' %}  
    {% load static %}

{% block contenidoquecambia %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">¡Te damos las mejores fotitos de mascotas que pudimos encontrar!</h1>
                                <p class="lead fw-normal text-muted mb-4">Con mucho esfuerzo y dedicacion, nuestro equipo se ocupo minuciosamente de la busqueda, filtro y seleccion de las mejores fotos de mascotas que pudimos encontrar. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://i.pinimg.com/564x/1a/98/9f/1a989fdeb54d8a7ba2f412d67f73c8ef.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">¡Valores!</h2>
                            <p class="lead fw-normal text-muted mb-0">Tal asi como a nosotros nos importa la bellesa estetica de las mascotas, tambien nos importa su bienestar, asi que para la realizacion de esta pagina, nuestro equipo se ocupo de contactar a todos los dueños de las mascotas, para asegurarnos que no solo se vieran de la manera mas tierna posible, si no tambien quedarnos tranquilos, que efectivamente son y viven muy felices.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://i.pinimg.com/564x/9f/8e/85/9f8e853c2076c385133340b6c80edf67.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">¿Por que buscar fotos de mascotas en nuestro blog?</h2>
                            <p class="lead fw-normal text-muted mb-0">Muchas veces uno se encuentra queriendo ver fotos de perritos, pero a veces uno no encuentra las mejores, y ¡para eso estamos nosotros! Para traerte no solo las mejores fotos que podemos encontrar si no tambien garantizar el bienestar del mismo, para que no allá ni la mas minima culpa en mirar fotos.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Creadores del blog</h2>
                        <p class="lead fw-normal text-muted mb-5">Desde lo mas profundo de nuestro corazon, quisimos hacerle llegar a la gente fotos de mascotas hermosas</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://media-exp1.licdn.com/dms/image/C4D03AQHmeclfLL6NUw/profile-displayphoto-shrink_200_200/0/1610403356758?e=1648080000&v=beta&t=rr4T1M1eyWA3XWoejDOd03mwNYar7hDuA5MU_UIeyvc" alt="..." />
                                <h5 class="fw-bolder">Karen Gericke</h5>
                                <div class="fst-italic text-muted">CO creadora del blog</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://media-exp1.licdn.com/dms/image/C4D03AQEnwmEWn7o25A/profile-displayphoto-shrink_200_200/0/1609435932944?e=1648684800&v=beta&t=nVX8OmCmkJPCLUr5M6HCH0MXUU1zTEAbkKqqt0ID4_o" alt="..." />
                                <h5 class="fw-bolder">Leandro Garcia</h5>
                                <div class="fst-italic text-muted">CO creador del blog</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://live.staticflickr.com/65535/51882540118_5d74e6877f_t.jpg" alt="..." />
                                <h5 class="fw-bolder">Juan Huertas</h5>
                                <div class="fst-italic text-muted">Ayuda inicial en el desarrollo del blog</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </main>
        {% endblock contenidoquecambia %}
            
        <!-- FIN CONTENIDO DINAMICO DE PAGINA-->